* {
  margin: 0;

  padding: 0;
}
.m1 {
  height: 80vh;
  width: 100%;
  background-image: url(image-hero.jpg);
}
.nvbar {
  display: flex;
  justify-content: space-between;
  font-family: Arial, Helvetica, sans-serif;
}

.about {
  width: 30%;
  display: flex;
  justify-content: space-around;
  margin: 30px;
}
.about a {
  text-decoration: none;
  color: white;
  font-size: 19px;
}
.nvbar h1 {
  color: aliceblue;
  margin: 30px;
  margin-left: 3cm;
}
.carre {
  width: 30%;
  height: 5cm;
  border: 1px solid white;
  color: white;
  font-size: 24px;
  letter-spacing: 3px;
  display: flex;
  align-items: center;
  margin-left: 3cm;
  margin-top: 2cm;
}
.carre h1 {
  font-weight: normal;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.m2 {
  margin-top: 2.5cm;
  height: 70%;
  display: flex;
  margin-left: 3.5cm;
}

.m2 img {
  width: 20cm;
  height: 10cm;
}
.leader {
  background-color: white;
  width: 30%;
  height: 9cm;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 30px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  padding-left: 30px;
  position: absolute;
  left: 50%;
  top: 122%;
}
.m3 {
  display: flex;
  justify-content: space-between;
  margin: 3.5cm;
}

.m3 button {
  border: 2px solid black;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;

  background-color: white;
  height: 0.9cm;
  letter-spacing: 0.06cm;
  width: 3.5cm;
}
.m3 h1 {
  letter-spacing: 0.06cm;
  font-weight: 100;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
